<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.konai.appmeter.driver_am"
    android:installLocation="preferExternal">
    <!-- 앱에서 기기검색을 시작하거나 블루투스 설정 조작하기 위한 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 블루투스 스캔을 사용하여 사용자 위치에 대한 정보 수집 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 이미 페어링된 기기와 통신해야할 경우 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- 블루투스 기기검색 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- for 서버 업데이트 기능 -->
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher_icon_foreground"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:authorities="com.konai.appmeter.driver_am.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path"/>
        </provider>

        <activity
            android:name=".view.UpdateActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".view.AMMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <service
            android:name=".service.AwindowService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />

        <activity
            android:name=".view.DrawerBaseActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.InfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/> <!-- 가로버전 -->
        <!-- android:configChanges="orientation|screenSize|keyboardHidden" -->
        <!-- android:screenOrientation="sensor" -->
        <activity
            android:name=".view.MainActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
    </application>

</manifest>